__pycache__
/env
/measure/measure/results/*.txt
/measure/measure/results/massif.out.*
/measure/measure/results/cpu-measure
/measure/measure/results/valgrind-measure-python-3-11
/measure/plot/src/results/*.png
/python/error.txt
/python/result.csv
/rust/error.txt
/rust/result.csv
/rust/target/
*.swp
